.bckg {
    background: url('../../images/stars.jpg')
    center center/cover no-repeat;
}

.fave-header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    letter-spacing: 1px;
}

.fav-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
