.fave-header {
    font-size: 60px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    
}

.fave-subheader {
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: -20px;
}