/* .input {
  padding-left: 20px;
} */

.save-icon {
  padding-bottom: 16px;
  float: right;
}

/* .card-wrap {
  display: flex;
  flex-wrap: wrap;
} */

.card-sec {
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  height: auto;
  width: 370px;
  background: black;
  color: white;

}

.card-image {
  width: 100%;
}

.card-name {
  padding-top: 20px;
  padding-bottom: 10px;
}