.input {
  padding-left: 20px;
}

.save-icon {
  padding-bottom: 16px;
}

.card {
  padding: 20px;
  align-items: center;
  border-radius: 10px;
}

.card-image {
  width: 100%;
}

.card-name {
  padding-top: 20px;
  padding-bottom: 10px;
}