.nav-style {
    background-color: black !important;
    padding: 20px 0 !important;
    border-bottom: 1px solid rgb(36, 90, 239);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    color: white !important;
    
}