.nav-style {
    background-color: black !important;
    padding: 20px 0 !important;
    border-bottom: 1px solid rgb(36, 90, 239);
    /* box-shadow: rgba(36, 90, 239, 0.3) 0px 8px 24px; */
}

.nav-link {
    color: white !important;
    
}