.constell-card {
    border-radius: 8px;
    height: auto;
    width: 370px;
    padding: 20px 20px 30px 20px;
    margin-bottom: 50px;
    border: 1px solid rgb(40, 40, 40);
  }

  .constell-card>.img-container>a>img {
    width: 100%;
    border-radius: 8px;
  }

  .constell-name {
    color: white;
    padding-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .text {
    color: rgb(209, 209, 209);
    font-size: 14px;
    padding-bottom: 8px;
    line-height: 20px;
  }

  .constell-link {
    margin-top: -20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(44, 110, 251);
    padding: 8px 30px;
    border-radius: 8px;
  }

  .constell-link:hover {
    background-color: rgb(144, 174, 239);
    color: black;
  }

