.constell-card {
    border-radius: 8px;
    height: auto;
    width: 360px;
    padding: 20px 20px 30px 20px;
    margin-bottom: 50px;
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(62, 62, 62, 0.1);
  }

  .constell-card>.img-container>img {
    width: 100%;
    border-radius: 8px;
  }

  .constell-name {
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .constell-link {
    margin-top: -20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(44, 110, 251);
    padding: 8px 30px;
    border-radius: 8px;
  }

  .constell-link:hover {
    background-color: rgb(144, 174, 239);
    color: black;
  }