.holder {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    padding: 40px;
    /* margin: 30px 30px 0 30px; */



        /* justify-content: center; */
    /* grid-template-columns: repeat(3, calc(33.33%)); */
  }