/* @import url('https://fonts.googleapis.com/css?family=Questrial'); */

h1 {
    background: linear-gradient(30deg, #c850c0, #ffcc70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  body {
    font-family: "Questrial", sans-serif;
  }

  