.bckg {
    background: url('../../images/stars.jpg')
    center center/cover no-repeat;
}

.header {
    color: white;
    padding: 30px;
    text-align: center;
}

.card {
    /* background: transparent !important; */
    max-width: 80%;
    height: auto;
    margin: auto;
}

.card-image {
    border-radius: 8px;
}