.bckg {
    background: url('../../images/stars.jpg')
    center center/cover no-repeat;
}

.hero-sec {
    padding: 100px 0;
}

.constellation-sec {
    padding: 10px 0 10px 0;
    background-color: rgb(12, 12, 12);
}

.constellation-header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    letter-spacing: 1px;
}