.bckg {
    background: url('../../images/stars.jpg')
    center center/cover no-repeat;
}

.hero-sec {
    padding: 100px 0;
}

.search-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 70%;
    border-radius: 25px;
    height: 36px;
    border: none;
    margin-bottom: 16px;
}

.search-btn {
    background-color: #326BFC;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 4px 36px;
}

.constellation-sec {
    padding: 10px 0 220px 0;
    background-color: rgb(12, 12, 12);
}

.constellation-header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    letter-spacing: 1px;
}